<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <!-- Servlet for sum -->
  <servlet> 
  <servlet-name>sum</servlet-name>
  <servlet-class>addnumber.AddServlet</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>sum</servlet-name>
  <url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  <!--  servlet for printing data -->
  <servlet>
  <servlet-name>printing</servlet-name>
  <servlet-class>addnumber.PrintingData</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>printing</servlet-name>
  <url-pattern>/print</url-pattern>
  </servlet-mapping>
  
  <!--  servlet for forward Dispather -->
  <servlet> 
  <servlet-name>qube</servlet-name>
  <servlet-class>ServletDispather.Qube</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>qube</servlet-name>
  <url-pattern>/qube</url-pattern>
  </servlet-mapping>
  
  <servlet> 
  <servlet-name>forward</servlet-name>
  <servlet-class>ServletDispather.ForwardDispather</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>forward</servlet-name>
  <url-pattern>/forward</url-pattern>
  </servlet-mapping>
  
  <!--  Servlet for Include Dispatcher -->
  <servlet> 
  <servlet-name>include</servlet-name>
  <servlet-class>ServletDispather.IncudeDispather1</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>include</servlet-name>
  <url-pattern>/include</url-pattern>
  </servlet-mapping>
  
  <servlet> 
  <servlet-name>content</servlet-name>
  <servlet-class>ServletDispather.IncludeDispatcherContent</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>content</servlet-name>
  <url-pattern>/content</url-pattern>
  </servlet-mapping>
  
</web-app>