<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <!-- Servlet for sum -->
  <servlet> 
  <servlet-name>sum</servlet-name>
  <servlet-class>addnumber.AddServlet</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>sum</servlet-name>
  <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <!--  servlet for Dispather -->
  <servlet> 
  <servlet-name>sqr</servlet-name>
  <servlet-class>addnumber.SqrDispather</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>sqr</servlet-name>
  <url-pattern>/sqr</url-pattern>
  </servlet-mapping>
  
  
  <!--  servlet for printing data -->
  <servlet>
  <servlet-name>printing</servlet-name>
  <servlet-class>addnumber.PrintingData</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>printing</servlet-name>
  <url-pattern>/print</url-pattern>
  </servlet-mapping>
</web-app>