<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <!-- Servlet for sum -->
  <servlet> 
  <servlet-name>sum</servlet-name>
  <servlet-class>addnumber.AddServlet</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>sum</servlet-name>
  <url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  <!--  servlet for printing data -->
  <servlet>
  <servlet-name>printing</servlet-name>
  <servlet-class>addnumber.PrintingData</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>printing</servlet-name>
  <url-pattern>/print</url-pattern>
  </servlet-mapping>
  
  <!--  servlet for forward Dispather -->
  <servlet> 
  <servlet-name>qube</servlet-name>
  <servlet-class>ServletDispather.Qube</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>qube</servlet-name>
  <url-pattern>/qube</url-pattern>
  </servlet-mapping>
  
  <servlet> 
  <servlet-name>forward</servlet-name>
  <servlet-class>ServletDispather.ForwardDispather</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>forward</servlet-name>
  <url-pattern>/forward</url-pattern>
  </servlet-mapping>
  
  <!--  Servlet for Include Dispatcher -->
  <servlet> 
  <servlet-name>include</servlet-name>
  <servlet-class>ServletDispather.IncudeDispather1</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>include</servlet-name>
  <url-pattern>/include</url-pattern>
  </servlet-mapping>
  
  <servlet> 
  <servlet-name>content</servlet-name>
  <servlet-class>ServletDispather.IncludeDispatcherContent</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>content</servlet-name>
  <url-pattern>/content</url-pattern>
  </servlet-mapping>
  
  <!--  Send redirect -->
  <servlet> 
  <servlet-name>first</servlet-name>
  <servlet-class>ServletDispather.SendRedirect_1</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>first</servlet-name>
  <url-pattern>/first</url-pattern>
  </servlet-mapping>
  
  <servlet> 
  <servlet-name>second</servlet-name>
  <servlet-class>ServletDispather.SendRedirect_2</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>second</servlet-name>
  <url-pattern>/second</url-pattern>
  </servlet-mapping>
  
  <!--  Session  -->
  <servlet> 
  <servlet-name>addition</servlet-name>
  <servlet-class>ServletDispather.AdditionSe</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>addition</servlet-name>
  <url-pattern>/addition</url-pattern>
  </servlet-mapping>
  
  <servlet> 
  <servlet-name>multiplication</servlet-name>
  <servlet-class>ServletDispather.MultiplicationSe</servlet-class>
  </servlet>
  
  <servlet-mapping> 
  <servlet-name>multiplication</servlet-name>
  <url-pattern>/multiplication</url-pattern>
  </servlet-mapping>
  
  <!--  user Cookie -->
  <servlet>
  <servlet-name>userck</servlet-name>
  <servlet-class>ServletDispather.userCookie_1</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>userck</servlet-name>
  <url-pattern>/userck</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>userck2</servlet-name>
  <servlet-class>ServletDispather.usercookie_2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>userck2</servlet-name>
  <url-pattern>/userck2</url-pattern>
  </servlet-mapping>
  <!--  Servlet Context and config  -->
  
  <!-- config -->
  <servlet>
    <servlet-name>context</servlet-name>
    <servlet-class>Config_Context.ServletContextEx</servlet-class>
   <init-param>
   <param-name>Village</param-name>
   <param-value>Chendurthi</param-value>
   </init-param>
</servlet>

<servlet-mapping>
    <servlet-name>context</servlet-name>
    <url-pattern>/context</url-pattern>
</servlet-mapping>

<!--  context  -->
  <context-param>
  <param-name>name</param-name>
  <param-value>Ganesh</param-value>
  </context-param>
  
<!--  Filters -->
	<!--  servlet -->
	
	<!--  <servlet>
	<servlet-name>FilterExServlet</servlet-name>
	<servlet-class>Filters.FilterEx</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>FilterExServlet</servlet-name>
	<url-pattern>/filterEx</url-pattern>
	</servlet-mapping> -->
	<!-- Filter -->
<!-- 	<filter>
	<filter-name>FilterEx</filter-name>
	<filter-class>Filters.Filter_1</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>FilterEx</filter-name>
	<url-pattern>/filterEx</url-pattern>
	</filter-mapping>   -->
</web-app>